[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-superman"]
	path = bundle/vim-superman
	url = https://github.com/jez/vim-superman
